<p>
אתר זיגי הוקם בשנת 2006 על מנת לסייע לסטודנטים באוניברסיטת בן גוריון לבנות את מערכת השעות שלהם בצורה הפשוטה, הנוחה והמהירה ביותר.<br/>
האתר התארח על שרתי <a href="http://www.bgu.co.il" target="bgu">אתר הסטודנטים של באר שבע</a><br/>
<br/>
האתר המחודש עלה לאוויר בחורף 2013
<br/>
</p>
<h2>יש לכם רעיון לשיפור?</h2>
<p>
אנחנו תמיד מעוניינים לשמוע ברעיונות חדשים לתיקונים ושיפורים.<br/>
ניתן ליצור קשר ב: <a href="mailto:igal.shapira@gmail.com">igal.shapira@gmail.com</a>
</p>
<h2>מעוניינים לתרום?</h2>
<p>
מעוניינים לתרום לזיגי?<br/>
אתר זיגי ישמח לעזרת מתכנתי רשת, מעצבים או ספונסרים.
</p>
<h2>קרדיטים</h2>
<p>
כל הזכויות שמורות ל<a href="mailto:igal.shapira@gmail.com">יגאל שפירא</a> © 2006-2013
<h3 >עזרה בבדיקות, שיפורים ובניית מפות</h3>
<a href="mailto:Yohana@yohanakhoury.com">יוחנא חורי</a>
<br/>
<a href="mailto:android.e.abs@gmail.com">אייל עבאס</a>
<br/>
<a href="mailto:liskovichivgeni@gmail.com">יבגני ליסקוביץ'</a>
<br/>
<a href="mailto:dorin.gerbi@gmail.com">דורין גרבי</a>
<p/>
