<div id="ko-pass">
<p>בחר סיסמא חדשה:</p>
<input type="password" id="new-pass" size="20" data-bind="value: password, valueUpdate: ['afterkeydown','propertychange','input']"/>
<button id="change-pass" data-bind="enable: isValid">עדכן סיסמא</button>
</div>
<div id="pass-answer"></div>
