<div style="direction: rtl">
<h2>תנאי שימוש באתר</h2>
    השימוש באתר על תכניו והשירותים הניתנים בו, מוצעים לך בכפוף לקבלתך את כל התנאים הכלולים בתקנון זה.
<ul>
    <li>
    הגלישה באתר תחשב להסכמה מצדך לתנאים אלה.
    </li>
    <li>
    הנהלת האתר רשאית להשעות, לחסום או להפסיק לאלתר את גישת הגולש לשירות אם יפר את תנאי התקנון. 
    </li>
    <li>
    הנהלת האתר רשאית לעדכן את תנאי התקנון מעת לעת
    </li>
</ul>
<h3>תוכן גולשים</h3>
חלקים באתר מכילים תוכן גולשים. לדוגמא: אירועים, פרטי מרצים, דירוג מרצים ועוד.
<ul>
    <li>
הנהלת האתר אינה אחראית על תוכן הגולשים, מהימנותו, שלמותו או מכל בחינה אחרת.
    </li>
    <li>
אין לפרסם תוכן פוגעני כלשהו בתוכן הגולשים.
    </li>
    <li>
אין לפרסם תוכן פרסומי או שיווקי בתוכן הגולשים ללא קבלת אישור ממנהלי האתר
    </li>
</ul>
<br/>
</div>
