<p>תכונה זו תעבוד אם כל המערכת שעות של הסטודנט נראת בדפדפן.</p>
<p>אם כל מערכת השעות שלך נראת בתמונה למטה אז תוכל להוריד את התמונה בשתי הדרכים הבאות:</p>
<p>1.לחץ על לחצן ימני כאשר העכבר נמצא על התמונה ו"שמור תמונה" על מנת להוריד את התמונה</p>
<p>2.לחץ על הכפתור "שמור כתמונה".</p>
<p>אם המערכת שלך לא נראית או נראית חלקית אז חזור לדף הקודם ותקטין את המערכת בעזרת לחיצה על שני המקשים ctrl ו -</p>
<div id="createPNGButton">
    <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false"onclick="javascript:ziggi.putImage()"><span class="ui-button-text">שמור כתמונה</span></button>        
</div>
<p>תצוגה מקדימה : </p>
<div id="canvas-container"></div>
