<ul>
    <li><strong>זיגי אומר לי שהקורס לא נמצא או לא פעיל בסמסטר זה</strong></br>
    יש לוודא שבחרת את הסמסטר הנכון ואת מספר הקורס המדוייק.<br/>
    שימו לב שישנם קורסים בשמות זהים אך עם מספרים שונים.</li>

    <li><strong>השעות בזיגי לא מתאימות לשעות באתר של האוניברסיטה</strong><br/>
    וודא שבחרת את הסמסטר הנכון.<br/>
    בתקופה לפני תחילת הסמסטרים שבהם האוניברסיטה עושה שינויים רבים יכול לקחת לזיגי עד 24 שעות להתעדכן בשעות הנכונות.</li>

    <li><strong>זיגי מראה לי יותר קבוצות מאשר אתר האוניברסיטה</strong><br/>
    ישנם קורסים המשותפים למספר מחלקות. זיגי מראה את כל הקבוצות המתאימות לאותו קורס, אך לעיתים האוניברסיטה לא מאפשרת לתלמידי מחלקה מסויימת להרשם לכל הקבוצות.<br/>
    יש להשוות את השעות שבזיגי עם השעות שהאוניברסיטה מפרסמת</li>

    <li><strong>יש לי עוד המון שאלות על תחילת הלימודים, קורסים, מקצועות ועוד</strong></br>
    ניתן למצוא תשובות לשאלות רבות נוספות <a href="http://forum.bgu.co.il/index.php?showforum=20" target="bgu">בפורום מועמדים, סטודנטים חדשים ושאלות כלליות</a> של אתר הסטודנטים של באר שבע
    </li>
</ul>
