<p>על מנת להוסיף את האירועים לגוגל קלנדר. יש להוריד את קובץ ה-VCS מתוך "ייצוא לקובץ VCS".<br/>
לאחר מכן יש לייבא את הקובץ לתוך לוח השנה של גוגל.
</p>
<p>
<a href="http://support.google.com/calendar/bin/answer.py?hl=en&answer=37118" target="sched"">לחץ כאן להוראות באתר גוגל</a><br/>
<a href="/export/schedule.vcs" target="sched">לחץ כאן להורדת קובץ ה VCS</a>
</p>
