<h2>הקדמה</h2>
האתר נבנה על מנת לעזור לסטודנטים בבן גוריון לבנות מערכת שעות בצורה הנוחה ביותר והמהירה ביותר.<br/>
רוב השימוש באתר הוא טריביאלי למדי, אבל רצוי בכל זאת לעבור על ההוראות על מנת לקבל מידע על כל הפונקציות הקיימות.<br/>
ורק בשביל להבהיר פעם נוספת - אין קשר בין האתר הזה לבין האוניברסיטה וכן האתר לא רושם את המערכת שנבחרה במערכות הייעוץ של האוניברסיטה. 

<h2>בניית מערכת</h2>

בניית המערכת נעשית בצורה מאוד פשוטה.
פעולה ראשונה היא הוספת המקצועות הרצויים:
בתפריט העליון של המסך מופיעה שורת טקסט בה ניתן לחפש כל מקצוע רצוי, על פי מספרו או על פי השם.
<br/>
לאחר בחירת המקצועות והוספתם, לחיצה עם העכבר על שם המקצוע תפתח רשימה עם קבוצות ההרצאה, התרגול והמעבדה.
לחיצה על כל קבוצה תוסיף את הקבוצה למערכת, או תמחוק אותה מהמערכת, אם זו כבר נבחרה.
<br/>
דרך נוספת למחיקת קבוצה היא על ידי מעבר עם העכבר על כותרת הקבוצה במערכת השבועית (החלק הצבעוני), לחיצה על כפתור המחיקה שיופיע תסיר את הקבוצה.
<br/>
דרך מומלצת נוספת ליצירת מערכת, היא על ידי לחיצה על לחצן הפלוס שמוסיף את כל הקבוצות האפשרויות, וכך ניתן להסיר אותן אחת אחת עד לקבלת הצירוף הרצוי. כמו כן, במבט אחד ניתן לראות חלונות שלא ניתנים ל"סגירה" שעות לימוד משוערות וכדומה. 
<br/>
<h2>התפריט העליון</h2>
<ul>
    <li><strong>חיפוש</strong> - חיפוש כל קורס על פי שם או מספר</li>
    <li><strong>הדפסה</strong> - מדפיס את המערכת הנבחרת</li>
    <li><strong>סיכום</strong> - להדפסת סיכום של פרטי הקורסים, המרצים ושעות הקבלה </li>
    <li><strong>עריכת מערכת</strong> - מצב ברירת המחדל של עריכת מערכת ובחירת קבוצות</li>
    <li><strong>סופר מערכת</strong> - הצגת כל הקבוצות מכל הקורסים במבט על אחד</li>
    <li><strong>לוח מבחנים</strong> - הצגת לוח שנה אקדמי של הסמסטר הנוכחי</li>
    <li><strong>מפה</strong> - הצגת מפת האוניברסיטה עם רשימת הבניינים השונים</li>
    <li><strong>יציאה</strong> - יציאה מהמערכת
</ul>

<h3>מידע על הקבוצות</h3>

<p>
לחיצה על שם המרצה תוביל לחלון עם הפרטים שלו.<br/>
בחלון זה ניתן לעדכן את כל פרטי המרצה - כגון טלפון וחדר. <br/>
כמו כן, אפשר לדרג את המרצה ולצפות בדירוגים של משתמשים אחרים. <br/>
לחץ שנית על שם המרצה או על ה-X לסגירת החלון.
</p>

<h2>אירועים אישיים וציבוריים</h2>
<p>ניתן להוסיף ללוח השנה אירועים אישיים וציבורים.</p>
<p>
יצירת אירוע חדש מתבצעת על ידי הקלקה על מקום פנוי במערכת.<br/>
לאחר יצירת האירוע ניתן לעדכן את הפרטים שלו על ידי הקלקה על האייקונים בכותרת האירוע</br>
</p>
<h3>אירוע ציבורי</h3>
<p>
אירוע שמוגדר כציבורי ניתן לחיפוש על ידי כל המשתמשים על ידי החיפוש בראש הדף.
החיפוש מתבצע על פי שם האירוע.
</p>
