<% if @user %>
    <p>דואר אלקטרוני נשלח לכתובת: <%= @user.email %> עם לינק לשימוש חד פעמי. </p>
    <p>לאחר הכניסה, ניתן לשנות את הסיסמא דרך תפריט הגדרות</p>
<% else %>
    <p>לא ניתן היה לשלוח מייל איפוס.</p>
    <p>לא קיים משתמש רשום בזיגי עם הכתובת: <%= params[:email] %> </p>
<% end %>
