<div style="direction: rtl">
<h2>הצהרת פרטיות לגולשי האתר זיגי</h2>

אתר זיגי רואה עצמו מחויב לעקרונות של הגנה על פרטיות, והצהרת פרטיות זו מפרטת את גישתנו לסוגיה זו. בעשיית שימוש באתר זה ובמסירת נתונים אישיים כלשהם הנך מסכים לכך שזיגי  יעשה שימוש בנתונים אלו בהתאם להצהרת פרטיות זו. אם יש לך שאלות בעניינים אלה, אנא פנה אלינו בדואר אלקטרוני לכתובת ziggi@ziggi.co

<ul>
    <li>אתר זיגי לא ישתמש בכתובת הדואר האלקטרוני למשלוח הודעות משום סוג שהוא</li>
    <li>חלקים מאתר זיגי ניתנים לעדכון על ידי המשתמשים עצמם. לדוגמא: עדכון פרטי מרצים ודירוגם. זיגי שומרת לעצמה את הזכות לפרסם את שמו הפרטי או המלא של מעדכן הפרטים.</li>
    <li>
אתר זיגי עשוי להשתמש בטכנולוגיה כדי לעקוב אחרי דפוסי השימוש של מבקרי האתר  בין השאר על ידי אחסון "עוגיות" בדפדפן. חסימת ה"עוגיות" בדפדפן, תמנע שימוש בתכני האתר.
המידע יוכל לשמש עבור פרסומות מותאמות באתר זה או באתרים אחרים.
</li>
<li>
אתר זיגי שומר לעצמו את הזכות להעביר לצדדים שלישיים מידע מצטבר כללי על המשתמשים, הנרשמים ומבקשי המידע באתר.
</li>
    
</ul>
</div>
