<% @user = User.find_by_id(session[:user_id]) %>
<h2>שיתוף מערכת עם חבר</h2>
<p>
זיגי מאפשר לך לשתף את המערכת עם חברים על ידי שימוש בלינק אקראי.<br/>
הקישור הינו רנדומלי והצפייה במערכת שלך תאופשר רק עם גישה ישירות ללינק.</br>
</p>
<% share = Share.find_by_user_id(session[:user_id])
if share
    link = share_link(share.share_hash)
%>
<p>
הכתובת לשיתוף המערכת:
<a href="<%= link %>" target="_share"><%= link %></a>
<br/>
<p>
<button onclick="ziggi.share(false)">לחץ למחיקת הלינק</button>
</p>
<p>
שתף את חבריך בפייסבוק או בגוגל+ עם המערכת האישית שלך.	
</p>	
<a href="https://www.facebook.com/sharer/sharer.php?u=<%=link%>" target="_blank">
<img border="0" alt="shareFacebook" src="/assets/sharefacebook.jpg" width="125" height="40"/></a>
<a href="https://plus.google.com/share?url={<%= link%>}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
<img border="0" alt="sharegoogle" src="/assets/shareGooglePlus.png" width="125" height="40"/>
</a>
<% else %>
<p>
<button onclick="ziggi.share(true)">לחץ כאן ליצירת לינק לשיתוף המערכת</button>
</p>
<% end # if not share%>
