<p>
מעוניינים ללמוד תכנות?<br/>
רוצים פרוייקט מעניין?<br/>
חושבים שיש לך מה לתרום?<br/>
<br/>
זיגי משמש פלטפורמה לסטודנטים מכל האוניברסיטאות המעוניינים להוסיף ולשפר את האתר.
<br/>
לפרטים צרו קשר עם <a href="mailto:igal.shapira@gmail.com">igal.shapira@gmail.com</a>

</p>
