<!DOCTYPE html>
<html>
    <head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body style="direction: rtl">
	<p>
	השתמש בלינק לכניסה חד פעמים לזיגי.<br/>
	לאחר הכניסה שנה את הסיסמא דרך תפריט הגדרות.<br/>
	הלינק פעיל ל-24 שעות בלבד<br/>
	</p>
	<a href="<%= @link %>"><%= @link %></a>

	<p>
	במידה ולא ביקשת איפוס סיסמא לזיגי, התעלם ממייל זה
	</p>
    </body>
</html>
