<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <title>זיגי - מערכת השעות שלכם</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link href="ziggi.css" media="all" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<script src="home.js"></script>
</body>
</html>
